@import "../../../config/variable.scss";

.bannerbutton {
  /* background: transparent; */
  background: orangered !important;
  color: white;
  letter-spacing: 0.3rem;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  transition: background 0.5s linear;
  margin-top: 0.5rem;
}

.bannerbutton:hover {
  color: black;
  background: white;
  font-weight: 600;
}

.banner {
  background: url(../../../assets/banner.jpeg), #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;

  .container {
    // margin-left: 0 !important;
    margin-right: auto;
    width: 100%;
  }
  .card-container {
    display: flex;
    justify-content: flex-start;
  }

  .card {
    background: $light;
    border-radius: 5px;
    width: 40%;
    text-align: start;
    padding: 20px 15px 40px;

    .text {
      span {
        font-weight: bold;
        color: #f4811f;
        font-style: italic;
      }
    }

    button {
      background: $dark;
      border: 1px solid $dark;
      box-sizing: border-box;
      border-radius: 5px;
      color: $light;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 8px 15px;

      span {
        .arrow {
          color: #f4811f;
          transform: rotate(45deg);
          font-size: 1rem;
          margin-left: 5px;
          margin-top: 3px;
        }
      }
    }
  }
}
.dot-line {
  width: 30px;
  height: 2px;
  background: $light;
  margin-right: 10px;
  cursor: pointer;
}
.navigations {
  margin-top: 7rem;
  display: flex;

  .line {
    &:first-child {
      background: #f4811f;
    }
  }
}

.ft-slick__dots--custom {
  margin-right: 1rem !important;
}

.slick-dots {
  text-align: start !important;
  bottom: -80px;
  li {
    margin-right: 1rem;
  }

  li.slick-active {
    div.line {
      background: $secondary !important;
    }
  }
}

// media queries

@media (max-width: 800px) {
  .slick-dots {
    text-align: start !important;
    bottom: -40px;
  }

  .banner {
    .card-container {
      .card {
        width: 50%;
      }
    }
  }
}

@media (max-width: 600px) {
  .banner {
    height: 50vh;
    .card-container {
      .card {
        width: 80%;
      }
    }
  }
}
