@import "../../../config/variable.scss";

.banner {
  background: url(../../../assets/banner.jpeg), #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;

  .container {
    // margin-left: 0 !important;
    margin-right: auto;
    width: 100%;
  }
  .card-container {
    display: flex;
    justify-content: flex-start
    ;
  }

  .card {
    background: $light;
    border-radius: 5px;
    width: 40%;
    text-align: start;
    padding: 20px 15px 40px;

    .text {
      span {
        font-weight: bold;
        color: #f4811f;
        font-style: italic;
      }
    }

    button {
      background: $dark;
      border: 1px solid $dark;
      box-sizing: border-box;
      border-radius: 5px;
      color: $light;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 8px 15px;

      span {
        .arrow {
          color: #f4811f;
          transform: rotate(45deg);
          font-size: 1rem;
          margin-left: 5px;
          margin-top: 3px;
        }
      }
    }
  }

  .navigations {
    margin-top: 7rem;
    display: flex;

    .line {
      &:first-child {
        background: #f4811f;
      }

      width: 30px;
      height: 2px;
      background: $light;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}


// media queries

@media (max-width: 800px){
  .banner {
    .card-container{
      .card {
        width: 50%;
      }
    }
  }
}

@media (max-width: 600px){
  .banner {
    height: 50vh;
    .card-container{
      .card {
        width: 80%;
      }
    }
  }
}



