
@font-face {
  font-family: "Poppins Regular";
  src: url("../Fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

// font-family
$fontRegular: "Poppins Regular";
$fontMedium: "Poppins Medium";
$fontSemiBold: "Poppins SemiBold";
$fontBold: "Poppins Bold";

// fontsizes
$windowMaxwidth: 1140px;
$regularFont: 15px;
$smallFont: 12px;
$smallerFont: 10px;
$largeFont: 20px;

// colors
$primary: #e5e5e5;
$dark: #000000;
$light: #fff;
$secondary: #f4811f;
$imageColor: #c4c4c4;
$tertiary: #f2f2f2;
$gray: #828282;
$footer: #333333; ;
