@import "../../../config/variable.scss";

.shop-by-space {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $primary;
  padding-left: 1rem;
  padding-right: 1rem;
  .title-container {
    display: flex;
    align-items: center;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 500;
    }

    .view-text {
      font-size: $smallFont;
      text-decoration: underline;
      color: $secondary;
      margin-left: 1rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
      cursor: pointer;
    }
  }
  .select-text {
    font-size: $regularFont;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 15px;

    .card {
      flex-grow: 0.5;
      width: 32%;
      min-width: 300px;
      position: relative;
      margin-bottom: .5rem;
      img {
        object-fit: cover;
        min-width: 300px;
        width: 100%;
        height: 300px;
        background: $imageColor;
        border-radius: 5px;
      }

      .overlay-text {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background: $light;
        color: $secondary;
        border-radius: 5px;
        padding: 8px 20px;
        font-size: $regularFont;
        cursor: pointer;
      }
    }
  }
}



// media queries

@media (max-width: 900px) {
  .shop-by-space {
    .card-container {
      .card {
        flex-grow: 0.5;
      }
    }
  }
}

@media (max-width: 500px) {
  .shop-by-space {
    .card-container {
      .card {
        flex-grow: 1;
      }
    }
  }
}
